


    body {
      
      font-family: Helvetica, sans-serif;
      background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    
    
    
    .row:after {
      content: "";
      display: table;
      clear: both
    }
    
    .column-66 {
      float: left;
      width: 66.66666%;
      padding: 20px;
    }
    
    .column-33 {
      float: left;
      width: 33.33333%;
      padding: 20px;
    }
    
    .large-font {
      font-size: 48px;
    }
    
    .xlarge-font {
      font-size: 30px;
      padding: 10px;
    }
    
    
    
    
    .button {
      border-radius: 50px;
      background-color:slategray;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 10px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      align-self: center;
      margin-left: 45%;
      margin-top: 15%;
    }
    
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    
    @media screen and (max-width: 1000px) {
      .column-66,
      .column-33 {
        width: 100%;
        text-align: center;
      }
      img {
        margin: auto;
      }
      .button {
      border-radius: 50px;
      background-color:slategray;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 10px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      align-self: center;
    }
      
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
      border-radius: 20px;
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }

    @media screen and (max-width: 800px) {
    
    .card{
        height: 410px;
    }
    }
