

    body{

        background-image: url(images/query2.jpg);
        background-size: cover;
        height:100%;
        
    }

    .footer{

        background-color: transparent;
    }
    
    

    .booking-form-box
    
    {
        max-width: 350px;
        border: 1px solid black;
        margin:10% auto 0;
      
        
        



    }

    .radio-btn{

        margin: 0 20px;
    }

    .radio-btn .btn{

        margin: 20px 10px 20px 0;
        box-shadow: none;
    }
    .radio-btn .btn::after
    {
        content:'';
        height: 15px;
        width:15px;
        top:-2px;
        left:-1px;
        background-color: #fff;
        position: relative;
        display: inline-block;
        border: 3px solid #fff;
        visibility: visible;
        border-radius: 50%;

    }

    .radio-btn .btn:checked::after
    {

        content: '';
        background-color: #000;
        transition: 0.5s;

    }
    .radio-btn span
    {
        color: #fff;
        margin-right: 5px;
        font-size: 12px;

    }

    .booking-form
{

    padding: 0 20px 20px;
}
.booking-form label
{

    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;

}

input::placeholder
{
    color:#fff !important;
}
.input-grp
{
    width: 151px;
    display: inline-block;
}
.form-control
{
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    background: transparent;
    box-shadow: none !important;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{


    -webkit-appearance: none;
    margin: 0;

}
.select-date::-webkit-calander-picker-indicator
{
    background:transparent !important ;
}

.custom-select
{
    color: #fff;
    font-size: 12px;
    border: 1px solid #ced4da;
    box-shadow: none !important;
    border-radius: 5px;
    background: transparent !important;	
}

.custom-select option

{
    color:#333;
    
}






